// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.background-image
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    &.streams
        color: white
        background-image: url('../images/stream.gif')
        
pre
    &.smaller
        padding-top: 10px !important
        padding-bottom: 10px !important
        line-height: 1
        font-size: 10px
